:root{
    --green: #59a06d;
    --lightgreen: #e3eee6;
    --blue: #5282b9;
    --lightblue: #e2e9f2;
    --yellow: #f0d93e;
    --lightyellow: #faf6df;
    --orange: #de752c;
    --lightorange: #f7e7dd;
    --red: #a61739;
    --lightred: #efd9de;
    --black: #000000;
    --lightblack: #ddddde;
    --cosmicred: #ff0000;
    --white: white;
}

h3,h4,p{
    margin: 0;
}
h1{
    text-align: center;
}
.sectionDiv {
}

.settingDiv {
    display: inline-grid;
}

#acsbar {
    margin: 4px;
    padding: 5px;
    border: 1px solid black;
    font-family: 'Inter', sans-serif;
}
.colorwhite{
    color: white;
}
.width100 {
    width: 100%;
}

.disabled{
    display: none;
}

.inblock {
    display: inline-block;
}

.flex{
    display: flex;
}

.grid{
    display: grid;
}

.fleft{
    float: left;
}

.fright{
    float: right;
}

.fw600 {
    font-weight: 600;
}

.em35{
    font-size: 3.5em;
}
.em2{
    font-size: 2em;
}
.em25{
    font-size: 2.5em;
}
.em15{
    font-size: 1.5em;
}
.em125{
    font-size: 1.25em;
}
.em075{
    font-size: .75em;
}


#acsTop{
    grid-template-columns: max-content auto max-content;
}

#acsLevelBars{
    flex-direction: column;
    justify-content: center;
}
.acsLevelBar{
    height: 8px;
    width: calc(100% - 10px);
    margin: 5px;
}


#acsMiddle {
    height: 8px;
    margin-bottom: 5px;
    background-color: var(--black);
}


#acsBottom{
    grid-template-columns: auto max-content;
    gap: 5px;
}
#acsObjDisRisk{
    grid-template-columns: auto auto;
    gap: 5px;
}
#acsObject{
    border-left: 16px solid;
    background-color: var(--lightblack);
    padding: 10px 10px 10px 15px;
    display: flexbox;
}
#acsObjectTextCont{
    height: 100%;
    flex-direction: column;
    justify-content: center;
}
.acsImageCont{
    float: right;
}
.acsImageWrapper{
    border: 5px solid black;
}
.fullcircle{
    border-radius: 50%;
}
.bgblack{
    background-color: black;
}
.acsImg{
    height: 100%;
}
.acsImageBGWrapper{
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    position: relative;
}
.acsSecondImgWrapper{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: -50%;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    overflow: hidden;
}
.acsSecondImgBG{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
.acsSecondImg{
    position: absolute;
}
#acsSecondaryObjectImg{
    width: 50px;
    filter: invert(100%);
    left: 3px;
}
#acsObjectImageWrapper{
    width: 85px;
    height: 85px;
}
.borderright{
    border-right: 8px solid var(--black);
}
#acsDisRisk{
    gap: 5px;
}
.acsDisRisks{
    padding: 0 7px 0 7px;
    border-left: 7px solid;
}
.acsDisRisksTextCont{
    display: flex;
    align-items: center;
    height: 100%;
}
#acsDis{
    border-color: var(--black);
    background-color: var(--lightblack);
}
.acsDisRiskImageWrapper{
    width: 45px;
    height: 45px;
}
.acsSecondImgText{
    margin-left: 50%;
}
#acsDisImageWrapper{background-color: green;}

#acsRisk{
    border-color: var(--black);
    background-color: var(--lightblack);
}

#acsDiamond{
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3Csvg version='1.2' baseProfile='tiny' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 160 160' xml:space='preserve'%3E%3Cpath fill='%23010101' d='M136.1,133.3l23.9-23.9V51.2l-24-24l19.1-19.1l4.9,4.9l0-12.9l-12.9,0l4.9,4.9L133,24.2l-24-24H51l-24,24 L8,5.2l4.9-4.9L0,0.2l0,12.9l4.9-4.9L24,27.3l-24,24v58.2l23.9,23.9l-19,19L0,147.3l0,12.9l12.9,0L8,155.3l19-19l23.9,23.9h58.4 l23.9-23.9l19,19l-4.9,4.9l12.9,0l0-12.9l-4.9,4.9L136.1,133.3z M155.7,53v54.6l-22.6,22.6l-50-50L133,30.3L155.7,53z M52.8,4.5 h54.4l22.7,22.7L80,77.2L30.1,27.3L52.8,4.5z M4.3,107.6V53L27,30.3L77,80.2l-50,50L4.3,107.6z M107.4,155.9H52.6L30,133.3l50-50 l50,50L107.4,155.9z'/%3E%3C/svg%3E%0A");
    height: 100%;
    width: 115px;
}