:root{
    --green: #59a06d;
    --lightgreen: rgba(89, 160, 109,0.25);
    --blue: #5282b9;
    --lightblue: rgba(82, 130, 185,0.25);
    --yellow: #f0d93e;
    --lightyellow: rgba(240, 217, 62,0.25);
    --orange: #de752c;
    --lightorange: rgba(222, 117, 44,0.25);
    --red: #a61739;
    --lightred: rgba(166, 23, 57,0.25);
    --black: #000000;
    --lightblack: rgba(0, 0, 0,0.15);
    --cosmicred: #ff0000;
    --white: white;
}

h3,h4,p{
    margin: 0;
}
#tileArea{
    text-align: center;
}
h1 {
    margin: 0;
}
.sectionDiv {
}

.settingDiv {
    display: inline-grid;
}

#acsbar {
    padding: 5px;
    border: 1px solid black;
    font-family: 'Inter', sans-serif;
}
.colorwhite{
    color: white;
}
.width100 {
    width: 100%;
}

.disabled{
    display: none;
}

.inblock {
    display: inline-block;
}

.flex{
    display: flex;
}

.grid{
    display: grid;
}

.fleft{
    float: left;
}

.fright{
    float: right;
}

.fw600 {
    font-weight: 600;
}

.em35{
    font-size: 3.5em;
}
.em2{
    font-size: 2em;
}
.em25{
    font-size: 2.5em;
}
.em15{
    font-size: 1.5em;
}
.em125{
    font-size: 1.25em;
}
.em075{
    font-size: .75em;
}


#acsTop{
    grid-template-columns: max-content auto max-content;
}

#acsLevelBars{
    flex-direction: column;
    justify-content: center;
}
.acsLevelBar{
    height: 8px;
    width: calc(100% - 10px);
    margin: 5px;
}


#acsMiddle {
    height: 8px;
    margin-bottom: 5px;
    background-color: var(--black);
}


#acsBottom{
    grid-template-columns: auto max-content;
    gap: 5px;
}
#acsObjDisRisk{
    grid-template-columns: auto auto;
    gap: 5px;
}
#acsObject{
    border-left: 16px solid;
    background-color: var(--lightblack);
    padding: 10px 10px 10px 15px;
    display: flexbox;
}
#acsObjectTextCont{
    height: 100%;
    flex-direction: column;
    justify-content: center;
}
.acsImageCont{
    float: right;
}
.acsImageWrapper{
    border: 5px solid black;
}
.fullcircle{
    border-radius: 50%;
}
.bgblack{
    background-color: black;
}
.acsImg{
    height: 100%;
}
.acsImageBGWrapper{
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    position: relative;
}
.acsSecondImgWrapper{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: -50%;
    border-bottom-left-radius: 50%;
    border-top-left-radius: 50%;
    overflow: hidden;
}
.acsSecondImgBG{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
.acsSecondImg{
    position: absolute;
}
#acsSecondaryObjectImg{
    width: 100%;
    filter: invert(100%);
    left: 3px;
}
#acsObjectImageWrapper{
    width: 85px;
    height: 85px;
}
.borderright{
    border-right: 8px solid var(--black);
}
#acsDisRisk{
    gap: 5px;
}
.acsDisRisks{
    padding: 0 10px 0 10px;
    border-left: 7px solid;
}
.acsDisRisksTextCont{
    display: flex;
    align-items: center;
    height: 100%;
}
#acsDis{
    border-color: var(--black);
    background-color: var(--lightblack);
}
.acsDisRiskImageWrapper{
    width: 45px;
    height: 45px;
}
.acsSecondImgText{
    margin-left: 50%;
}
#acsDisImageWrapper{background-color: green;}

#acsRisk{
    border-color: var(--black);
    background-color: var(--lightblack);
}

#acsDiamond{
    display: flex;
    position: relative;
}

#acsDiamondImg{
    height: 100%;
}

.quadrents{
    position: absolute;
    width: 96%;
    height: 96%;
    top: 0;
    left: 0;
}

.quad{
    width: 67.5%;
    padding-bottom: 50%;
    position: absolute;
    top: 2.25%;
    left: 18.5%;
    clip-path: polygon(22% 0, 77% 0, 100% 31%, 50% 100%, 0 31%);
    transform-origin: bottom center;
    display: flex;
    align-items: center;

}

#top-quad{
}

#right-quad{
    transform: rotate(90deg);
}

#bottom-quad{
    transform: rotate(180deg);
}

#left-quad{
    transform: rotate(270deg);
}

.acsSmallImageCont{
    position: absolute;
    width: 33%;
}

.acsSmallImageBGWrapper{
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.acsSmallImageWrapper{
    display: flex;
    border: 5px solid black;
}

.acsSmallImg{
    width: 100%;
}

#acsSmallObjectImageCont{
    left: 33.5%;
    top: 4.5%;
}

#acsSmallRiskImageCont{
    left: 62.5%;
    top: 33.5%;
}

#acsSmallDisImageCont{
    left: 4.5%;
    top: 33.5%;
}

#acsSmallObjectSecondaryImageCont{
    top: 62.5%;
    left: 33.5%;
}

#acsBigObjectImageCont{
    width: 82.6%;
    top: 8.7%;
    left :8.7%;
}